body {
  padding: 4px 12px 0 12px;
  font-size: 1.2em;
  font-family: "Poppins", Verdana, sans-serif
}

li {
  margin-bottom: 6px;
}

button {
  background: rgba(100,100,255);
  border:none;
  padding: 12px 16px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: .5
}
